.section p {
  font-family: "Courier New", Courier, monospace;
}
.landing ul {
  font-family: "Courier New", Courier, monospace;
}
aside p {
  font-family: "Courier New", Courier, monospace;
}
nav {
  font-family: "Courier New", Courier, monospace;
  font-size: 125%;
}
